@use "./base.scss";

// put your custom CSS here!

/* Styles for Iframe Game Embed */
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0; 
  margin: 0;
}
